.features {
  background-color: #F4F6FA;
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

[data-theme='dark'] .features {
  background-color: #242526;
  color: #f3f3f3;
}

.featureSvg {
  height: 150px;
  width: 150px;
}
